<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swiftris_Pork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33256AB81C352DF1009BAF68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33256ACC1C352DF2009BAF68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33256AD71C352DF2009BAF68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
